* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(<iframesrc="https://giphy.com/embed/pVGsAWjzvXcZW4ZBTE"width="480"height="254"frameBorder="0"class="giphy-embed"allowFullScreen></iframe><p><ahref="https://giphy.com/gifs/perfect-loops-pVGsAWjzvXcZW4ZBTE">viaGIPHY</a></p>);
}
